@charset "utf-8";
/* CSS Document */

#total{
width:1360px;
height:768px;
}

#top{
height:5px;
background-color:FBB03B;
}

#logo{
height:155px;
}

#eclogo{
border-top:25px;
border-top-color:#FFFFFF;
border-left:100px;
border-left-color:#FFFFFF;
}

#colorbot{
height:5px;
width:auto;
background-image:url(imgs/colores-bot.png);
}

#menu{
height:42px;
}

#body{
height:520px;
background-image:url(imgs/fondo_home.jpg);
}

ul{
list-style-type:none;
margin:0;
padding:0;
margin-top:10px;
}

li{
display:inline;
}

a{
text-decoration:none;
padding:100px;
font-family:Arial, Helvetica, sans-serif;
color:#000000;
}

#textohome{
margin-left:670px;
margin-top:243px;
width:560px;
height:270px;
background-image:url(imgs/fondo_text.png);

}

p{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#FFFFFF;
margin:20px;
}

#pie{
height:42px;
}

#piedepag{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#666666;
padding:0;
margin:0;
margin-top:12px;
}